.Profile {
	margin-top: 80px;
}

.form-box {
	display: flex;
	justify-content: center;
}

.form-inner-box {
	width: 500px;
	margin: 50px;
	padding: 20px;
	font-size: 18px;
}

.form-text {
	display: block;
	text-align: left;
	margin-top: 15px;
	font-weight: bold;
	color: #FFFFFF;
}

.form-input {
	display: block;
	width: 100%;
	box-sizing: border-box;
	margin: 5px 0;
}

.form-button {
	margin: 10px;
	padding: 10px 20px;
	font-size: 20px;
}

.form-options {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 10px;
}

.form-link {
	display: inline;
	margin: 10px;
	font-weight: bold;
	color: #FFFFFF;
	cursor: pointer;
}

@media (max-width: 600px) {
	.Profile {
		margin-top: 140px;
	}

	 .form-inner-box {
  	width: 300px;
  	margin: 50px 10px;
  }
}