.Table {
	margin: 10px;
}

.table-sections {
	display: grid;
	grid-template-columns: repeat(auto-fill, 300px);
	justify-content: center;
}

.table-heading {
	width: 70%;
	margin: 20px 0 5px 0;
}

.ingredient-options {
	display: flex;
	flex-wrap: wrap;
}

.element, .flower, .crystal {
	width: 100px;
	margin: 5px;
	box-sizing: border-box;
	border-radius: 5px;
	padding: 5px;
	text-align: center;
	cursor: pointer;
	font-weight: bold;
}

.deselect {
	border: 1px solid #4A148C;
	box-shadow: inset 0 0 10px #4A148C;
	background: #FFF9C4;
	color: #4A148C;
}

.select {
	border: 1px solid #FFF9C4;
	box-shadow: inset 0 0 10px #FFF9C4;
	background: #4A148C;
	color: #FFF9C4;
}

.button-container {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

.magic-button {
	padding: 15px 25px 10px 25px;
	font-size: 26px;
	font-family: 'Thickhead';
}

@media (max-width: 600px) {
	.Table {
		margin: 0 0 10px 0;
		padding: 15px 15px 30px 15px;
	}

	.table-sections {
		justify-content: center;
		grid-template-columns: 1fr;
	}

	.draw-button {
		width: 80%;
		margin-bottom: 40px;
		padding: 15px 5px 10px 5px;
	}
}